*,
*::before,
*::after
  box-sizing border-box

html,
body
  margin 0
  height 100%
  font-size 62.5%

body
  min-height 100%
  font-size 1.6em
  font-family 'Lato', sans-serif
  background linear-gradient(to bottom, #020111 60%,#20202c 100%)
  color #eee
  background-size 100% 100%
