*,
*::before,
*::after
  box-sizing border-box

html,
body
  margin 0
  height 100%
  font-size 62.5%

body
  min-height 100%
  font-size 1.6em
  font-family 'Lato', sans-serif
  transform-style preserve-3d
  perspective 1000
