.home-handler
  h2
    border-bottom 1px solid #fff
    padding-right 0.5rem
    display inline-block
  +route-handler()
    background-color transparent
    .col
      padding-top 2rem
      padding-bottom 2rem
      col(1/3)
