.home-handler
  padding 2rem 0
  background linear-gradient(to bottom, #020111 60%,#20202c 100%)
  color: #eee
  +route-handler()
    h2
      padding-right 0.5rem
      display inline-block
    .animated-text-group
      position relative
      .border
        content-fill()
        border-bottom 2px solid #eee
        @keyframes border-grow
          from
            right 100%
          to
            right 0
        animation-fill-mode both
        animation-name border-grow
        animation-timing-function ease-in-out
      .animated-text-group-child
        display inline-block
        @keyframes drop-in
          from
            transform translate3d(-50%, -25%, 0) skew(25deg) scale(1.25)
            opacity 0
          to
            transform translate3d(0%, 0%, 0) skew(0deg) scale(1)
            opacity 1
        animation drop-in 100ms ease-in-out
        animation-fill-mode both
    a
      color #ddd
      font-weight 100
    .col
      col(1/3)
  .svg-imac
    position relative
    display block
    width 100%
    padding 2rem
    path
      stroke #eee
      stroke-width 0.5
