.svg-imac {
  cursor pointer

  @keyframes dash {
    to {
      stroke-dashoffset 0
    }
  }

  path {
    fill transparent
    stroke #000
    transition all 175ms ease-in-out
    stroke-dasharray 1500
    stroke-dashoffset 1500
    animation dash 3s linear forwards
  }

  &:hover {
    path, g {
      stroke transparent
    }

    .stand {
      .depth path {
        fill url('#depthGradient')
      }
      .front {
        fill url('#frontGradient')
      }
    }

    .display {
      .depth path {
        fill url('#depthGradient')
      }
      .panel path {
        fill url('#panelGradient')
      }
      .apple path {
        fill #999
      }
      .bezel {
        fill url('#bezelGradient')
      }
    }
  }
}
